Validate that DNS record names end in a .

It could be handy to have an additional validation on DNS names to fail early if they are missing a trailing `.`, rather than letting it go to GCP. I've had this catch me out a few times.

### Affected Resource(s)

- `google_dns_record_set`

### Expected Behavior

When the user tries to enter a domain value without a trailing `.`, Terraform raises an error locally to tell them it is not allowed.

### Actual Behavior

You will only get an error when you actually talk to GCP to try and add the record.

```
* google_dns_record_set.dmarc_txt: Error creating DNS RecordSet: googleapi: Error 400: Invalid value for 'entity.change.additions[0].name': 'text.example.com', invalid
```

@srivasta 

On the face of it the requested change looks fine. The documentation: 
    https://cloud.google.com/dns/api/v1/resourceRecordSets#resource
specifies www.example.com. , and points us to RFC 1035 (section 5) and RFC 1034 (section 3.6.1) http://www.ietf.org/rfc/rfc1034.txt, which agree.

The next step is to try to reproduce this, preferably as an acceptance test, which will validate the solution.

(?=^.{1,254}$)(^(?:(?!\d+\.)[a-zA-Z0-9_\-]{1,63}\.?)+(?:[a-zA-Z]{1,})\.$)
Seems like a decent validation using a regexp (after appending the final period)

- http://dns-sd.org./TrailingDotsInDomainNames.html
- https://jdebp.eu./FGA/web-fully-qualified-domain-name.html

(please bear with me, I'm learning this as I go along)

So the acceptance test does not actually test recordset creation in a zone (dug(. It can't easi;y, since anyone should be able to run the test, and we fall into the trap of letting anyone on the internet being able to create records in a managed zone ...

So. The quickstart https://cloud.google.com/dns/quickstart is pretty explicit about adding the final . Also, I tested with the attached file, with the final dot it works, without it I do get the reported error. I am now adding tests to validate the google_dns_record_set.name configuration.

   Manoj

    resource "google_dns_managed_zone" "internal_public" {
       name     = "internal-public"
       # Note the trailing dot
       dns_name = "${vars.bare_managed_domain_name}."
    }

    resource "google_dns_record_set" "tiamat" {
       #  name = "frontend.${google_dns_managed_zone.internal_public.dns_name}"
       name = "frontend.${vars.bare_managed_domain_name}"
       type = "A"
       ttl  = 300

       managed_zone = "${google_dns_managed_zone.internal_public.name}"

       rrdatas = ["${vars.ip_address"]
    }


Update: I now have a tested function that does most of the validation checks in https://tools.ietf.org/html/rfc1034 and https://tools.ietf.org/html/rfc3490. It catches inclid ASCII only DNS names, though it might not catch some non-ASCII names that are too long when encoded as per https://tools.ietf.org/html/rfc3454 (I did not implement the TOASCII functionality defined there)

Now all I need is to get my employers permission to share this with all y'all, ans we'll be all set.

https://github.com/terraform-providers/terraform-provider-google/pull/676#issuecomment-399555797